/node_modules
/public/hot
/public/storage
/public/d
/public/js/app.js
/public/js/app-*.js
/public/css/app.css
/storage/*.key
/storage/app/
/storage/framework/laravel-excel/

/storage/framework/cache/*
/storage/framework/cache/.gitkeep

/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep

/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/
/vendor
/.idea
/.vscode
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
firebase-adminsdk.json

.DS_Store
/public/DS_Store
/backup
