/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/
/storage/framework/cache/
/storage/framework/laravel-excel/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
/vendor
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
